body{
    padding :0;
    margin:0;
}
#slides{
    display: flex;
    justify-content: center;
}
#slides img {
    display: none;
    width:400px;
    height: 300px;
    position: relative;
   
}
#slides .current{
    display: block;
    -webkit-animation: a1 10s;
}
@-webkit-keyframes a1
{
    from{
        right:-140%;
    }
    to{
        right:145%;

    }
}